<div class="footer-section-1">
	<ul class="links">
		<li><a href="index.html">Home</a></li>
		<li><a href="philosophy.html">Philosophy</a></li>
		<li><a href="our-vets.html">Team</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="contact.html">Contact</a></li>
	</ul>	
</div>

<div class="footer-section-2">
Westside Animal Hospital<br>
3653 Hillsborough Road<br>
Durham, North Carolina<br>
919-383-5578

</div>

<div class="footer-section-3">
	<ul class="footer-social-links">
		<li><a class ="icon" href="">c</a></li>
		<li><a class="icon" href="">d</a></li>
		<li><a class="icon" href="">e</a></li>
		<!-- <li><a href="">Blog</a></li> -->
	</ul>	
</div>