<div class="footer-section-1">
	<ul class="links">
		<li><a href="index.html">Home</a></li>
		<li><a href="philosophy.html">Philosophy</a></li>
		<li><a href="our-vets.html">Team</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="contact-us.html">Contact</a></li>
		<li><a href="westside-pets.html">Pet Gallery</a></li>
	</ul>
</div>

<div class="footer-section-2">
	<span class="icon footer-icons"><div>a</div><div>a</div><div>a</div></span>
Westside Animal Hospital<br>
3653 Hillsborough Road<br>
Durham, North Carolina<br>
<div class="prop-name">Hours of Operation:</div><div class="prop">M-Th: 7:30am - 6:00pm<br>Fri: 7:30-5:30PM</div>
919-383-5578


</div>

<div class="footer-section-3">
	<ul class="footer-social-links">
<!--		<li><a class ="icon" href="">c</a></li>-->
		<li><a class="icon" href="">d</a></li>
		<li><a class="icon" href="">e</a></li>
		 <li><a href="https://www.aaha.org" target="_blank"><img class="aaha" src="http://www.cassvillevet.com/images/aaha-240px.png"></a></li>
	</ul>
</div>

<div class="copywrite">Westside Animal Hopsital &copy 2015</div>
