 

<div class="desktop-nav-container">
	<ul class="desktop-nav">
		<li class="desk-nav-item left"><a href="index.html"><img class="nav-logo" src="https://s3-us-west-2.amazonaws.com/westside-animal/westside-logo-black.png"></a></li>
		<li class="desk-nav-item"><a href="philosophy.html">Philosophy</a></li>
		<li class="desk-nav-item"><a href="our-vets.html">Our Vets</a></li>
		<li class="desk-nav-item"><a href="services.html">Services</a></li>	
<!--		<li class="desk-nav-item"><a href="#">Pet Show</a></li>-->
		<li class="desk-nav-item"><a href="contact.html">Contact</a></li>
		<li class="desk-nav-item"><a href="referrals.html">Dentistry Referrals</a></li>
	</ul>
</div>



<ul class="navigation">
		<li class="nav-item"><a href="philosophy.html">Philosophy</a></li>
		<li class="nav-item"><a href="our-vets.html">Veternarians</a></li>
		<li class="nav-item"><a href="services.html">Services</a></li>	
<!--		<li class="nav-item"><a href="#">Pet Show</a></li>-->
		<li class="nav-item"><a href="contact.html">Contact</a></li>
	  <li class="desk-nav-item"><a href="referrals.html">Dentistry Referrals</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
