 

<div class="desktop-nav-container">
	<ul class="desktop-nav">
		<li class="desk-nav-item left"><a href="index.html"><img class="nav-logo" src="https://s3-us-west-2.amazonaws.com/westside-animal/westside-logo.png"></a></li>
		<li class="desk-nav-item"><a class="nav1" href="philosophy.html">Philosophy</a></li>
		<li class="desk-nav-item"><a class="nav2" href="our-vets.html">Our Vets</a></li>
		<li class="desk-nav-item"><a class="nav3" href="services.html">Services</a></li>	
<!--		<li class="desk-nav-item"><a href="#">Pet Show</a></li>-->
		<li class="desk-nav-item"><a class="nav4" href="contact.html">Contact</a></li>
		<li class="desk-nav-item"><a class="nav5" href="referrals.html">Dentistry Referrals</a></li>
	</ul>
</div>



<ul class="navigation">
  	<li class="nav-item"><a class="nav6" href="index.html">Home</a></li>
		<li class="nav-item"><a class="nav1" href="philosophy.html">Philosophy</a></li>
		<li class="nav-item"><a class="nav2" href="our-vets.html">Veterinarians</a></li>
		<li class="nav-item"><a class="nav3" href="services.html">Services</a></li>	
<!--		<li class="nav-item"><a href="#">Pet Show</a></li>-->
		<li class="nav-item"><a class="nav4" href="contact.html">Contact</a></li>
	  <li class="nav-item"><a class="nav5" href="referrals.html">Dentistry Referrals</a></li>
	  <a class="aaha-link-2" href="http://www.aaha.org" target="_blank"><img class="aaha-hero" src="http://www.cassvillevet.com/images/aaha-240px.png"></a>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>
