.flex-two {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1250px;
	margin: 0 auto;
	padding: 3em 0;
	flex-wrap: wrap;

}

.google-map-container, .contact-info-container {
	margin: 0 3em;
}

.contact-info-container {
	.prop-name {
		font-weight: 700;
	
	}
	div {
//		display:table-column;
	
	}

}