.contact-container {
	padding-top: 2em;
	
	a {
		color: $main-color;
	
	}

}

.flex-two {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1250px;
	margin: 0 auto;
	padding: 3em 0;
	flex-wrap: wrap;

}

.google-map-container, .contact-info-container {
	margin: 0 3em;
}

.contact-info-container {
	.prop-name {
		font-weight: 700;
	
	}
	div {
//		display:table-column;
	}

}

.get-directions {
	display: block;
	border: 1px solid;
	width: 9.25em;
	padding: .3em 1em;

}

.contact-p {
		text-align: center;
		max-width: 50em;
		margin: 0 auto;
	  padding: 0 1em;
	}

.socials a {
	font-size: 1.5em;
	margin-right: .3em;
}

@media screen and (max-width: 750px) {
	.contact-container {
	 padding-top: 4em;
		
	}

}