.contact-container {
	padding-top: 2em;
	background: url(https://static.pexels.com/photos/4933/lake-animals-dogs-pets.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
	a {
		color: $main-color;
		font-weight: 700;
	}
}

.contact-content-wrapper {
	position: relative;
	z-index: 1000;
}

.flex-two {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1250px;
	margin: 0 auto;
	padding: 3em 0;
	flex-wrap: wrap;

}

.google-map-container, .contact-info-container {
	margin: 0 3em;
}

.contact-info-container {
	.prop-name {
		font-weight: 700;
	
	}
	div {
//		display:table-column;
	}

}

.get-directions {
	display: block;
//	border: 1px solid;
	width: 9.75em;
	padding: .3em 1em .2em;
	background-color: $main-color;
	color: white !important;

}

.contact-p {
		text-align: center;
		max-width: 50em;
		margin: 0 auto;
	  padding: 0 1em;
	}

.socials a {
	font-size: 1.5em;
	margin-right: .3em;
}

@media screen and (max-width: 750px) {
	.contact-container {
	 padding-top: 4em;
		
	}

}