$font-one: 'Poppins', sans-serif;
$font-two: 'Bitter', serif;
$background-color: #F8F5E6;
$background-color:#FCEBB6;
$main-color: #003F5E;
$main-color:#C64A02;
$main-color: #449BB5;
$secondary-color:#95C9DB;
$secondary-color:#F07818;
$secondary-color: #043D5D;
$tertiary-color: #68C39F;
$quad-color: #5E412F;


body {
    font-family: $font-one;
    line-height: 1.4;
    background: #F8F5E6;
    color: #444;
	  -webkit-font-smoothing:antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  
//	  font-family: 'Raleway', sans-serif;
}

.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #F8F5E6; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
	margin-top: 112px; 
//	max-width: 1100px;
//	margin: 122px auto 0;
  
  /* non-critical apperance styles */
//  padding: 4em 0;

}

h1 { font-size: 2em;}
h2 { font-size: 2.3rem;
	font-family: $font-two;
	margin-bottom: .5rem;
	color: $main-color;
	text-align: center;
}
h3 { font-size: 1.17em;
font-family: $font-two;}
h5 { font-size: .83em;}
h6 { font-size: .75em;}
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.7;
  margin-bottom: 1em;
	font-weight: 300;
}

a {
  color: #00AAEE;
  text-decoration: none;
}

.h1-page-header {
	text-align: center;
}

.icon-line {
	text-align: center;
	font-size: 2.4em;
	color: $main-color;
	margin: 1em auto;
}

.icon {
	font-family: westside;
}

.h2-icon {
	font-size: 1em;
}

//mixins 


@mixin center($xy:xy) {
@if $xy == xy {
left: 50%;
top: 50%;
bottom: auto;
right: auto;
@include transform(translateX(-50%) translateY(-50%));
}
@else if $xy == x {
left: 50%;
right: auto;
@include transform(translateX(-50%));
}
@else if $xy == y {
top: 50%;
bottom: auto;
@include transform(translateY(-50%));
}
}
@mixin transform($attrs) {
-webkit-transform: $attrs;
-moz-transform: $attrs;
-ms-transform: $attrs;
transform: $attrs;
}		