.hero-container {
	background: url(https://s3-us-west-2.amazonaws.com/westside-animal/puppy.jpeg) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;

	h1 {
		padding: 1em .5em;
		font-size: 2.4em;
		max-width: 15em;
		color: whitesmoke;
		float: right;
		margin: 6em .5em;
		background-color: rgba(0, 0, 0, .5);
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 1px;
	}

}

.section-1 {
	padding: 4rem 1.5rem;
	h2 {
		text-align: center;
		font-size: 2.6rem;
	}
	p {
		max-width: 40rem;
		font-size: 1.4rem;
		margin: 0 auto;
	
	}

}

.section-flex-container {
	padding: 4rem 1rem;
}

$box-width: 250px;

.section-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1250px;
	margin: 0 auto;
	padding-top: 1em;
	
	
	.flex-child {
		max-width: 350px;
				text-align: center;
		img {
			height: $box-width;
			width: 350px;
		}
		p {
			font-size: .9em;
			text-align: left;
		}
		
		h3 {text-align: left;
			a {color: $secondary-color;}
		}
		
		a {
			margin-bottom: 2em;
		}
	}
	
	.store-link {
		display: inline-block;
		margin-top: .4em;
		
	img {
		width: 150px;
		height: auto;		
	}
}
	
}

	.pet-button {
//		border: 1px solid $secondary-color;d
		display: inline-block;
		margin-top: .5em;
		padding: .4em 1em;
		color: white;
		background-color: $secondary-color;
	}

.pet-button:hover {
	background-color: $main-color;
}

.section-list-container {
	background:url(https://s3-us-west-2.amazonaws.com/westside-animal/dog-prarie.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
}

.list-section {
	max-width: 40em;
	margin: 0 auto;
	padding: 0 1em;
	min-height: 400px;
	li {font-size: 1.1em;
			color: white;
	}
	
	span {display: inline-block;
		vertical-align:middle;
	}
}

.overlay {
 background-color: rgba(0,0,0,.6);
 position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.list-wrapper {
	z-index: 101;
	position: relative;
	padding: 3em 1em;
	span {
		font-size: 1.5em;
		display: inline-block;
	}
	
	.h2-icon {
		font-size: 1em;
	}
	
	h2 {
	 font-size: 2.6rem;
	}
}

.push-right {
	margin-right: 1em;
}

.testimonial-ul {
//	padding: 2em;
	text-align: center;
	font-weight: 300;
	max-width: 45em;
	margin: 0 auto;
	@include center(xy);
	position: absolute;
	
	li {
	@include center(xy);
	position: absolute;
	min-width:45em;
	max-width: 95%;
	}


	
	blockquote {
		font-style: italic;
		font-size: 1.3em;
		color: white;
		padding: 0 1em;
		vertical-align: middle;
	}

}

.section-testimonial {
	padding: 2em 0 1.4em;
	background-color: $secondary-color;
	position: relative;
	min-height: 280px;
}

.quote {
	p {
		margin: 0;
		color: white;
	}
}




@media screen and (max-width: 750px) {
	.section-1 h2, .list-wrapper h2, h2 {
		font-size: 2rem;
	}
}
