
/*desktop nav */

.desktop-nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  z-index: 100;
	background-color: #F8F5E6;
	max-width: 1250px;
	padding: 1em;

}

.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
	margin-right: 2em;
}


.desk-nav-item {
	
		margin-top: 2.62em;
	 margin-left: 2em;

	

	
	a {
		font-size: 1.3em;
		color: #003F5E;
	}
}

.left {
	margin-right: auto;
	margin-left: 2em;
}
.nav-logo {
	width: 170px;
	height: auto;
}

.desk-nav-item:first-child {margin-top: 0;}





/* Mobile Navigation Menu - Background */


.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #111;
  display: none;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */


/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
  display: none;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked + .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.slide-left {
	left: 200px;

}



/* Footer STUFF */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
	background-color: #222;
	color: white;
	padding: 2em 0;
	a {
		color: white;
	}
}

.footer-section-1 {
//	margin-left: 2em;
}

.footer-social-links{


  li {
    display:inline;
  }

}





body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

@media screen and (max-width: 750px) {
  label[for="nav-trigger"], .navigation{
    display: block;
  }

  .desktop-nav-container {
    display: none;

  }  



}

