.philosophy-wrap {
	min-height: 100px;
	padding: 1em;
	min-height: 70vh;
}



.philosophy-container {
	margin: 0 auto;
	max-width: 1100px;
}


.cat-photo {
	display: inline-block;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	opacity: .9;
	float: left;
	shape-outside:circle();
	margin: 1em;
}

.philosophy-text {
	/*width: 50rem;*/
	max-width: 90%;
	margin: 0 auto;
	clear: right;
	text-align: left;
}

@media screen and (max-width: 735px) {
	
	.cat-photo {
	  display: block;
		float:none;
		margin: 1em auto;
	}
}



