.services-container {
	background: url() no-repeat center center fixed;

}




.accordion {
	 
		max-width: 80%;
    margin: 2em auto;
}

.accordion-header {
	background-color: $main-color;
  color: white;
}